.bookListItem {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.bookListItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.wrCoverBook {
  display: flex;
  justify-content: center;
  width: 180px;
  margin-right: 15px;
}

.wrCoverBook img {
  width: 100%;
  height: auto;
}

.wrInfoBook {
  display: flex;
  flex-direction: column;
}

.titleBook {
  max-width: 500px;
  font-size: 1.5rem;;
}

.priceBook {
  margin: 5px 0;
  font-size: 2rem;
}

.btnBuyBook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-top: auto;
  margin-bottom: 0;
  padding: 10px;
  border: none;
  border-radius: 2px;
  background: linear-gradient(to bottom, #febd69, #ed9220);
  box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.btnBuyBook:hover {
  color: #fff;
}

.btnBuyBook .fa-cart-plus {
  margin-right: 15px;
}